
.photo .imgBox .max100 {
  width: 100%;
}
.photo .imgBox .max97 {
  width: 97%;
}
.photo .imgBox .max96 {
  width: 96%;
}
.photo .imgBox .max95 {
  width: 95%;
}
.photo .imgBox .max92 {
  width: 92%;
}
.photo .imgBox .max91 {
  width: 91%;
}
.photo .imgBox .max85 {
  width: 85%;
}
.photo .imgBox .max82 {
  width: 82%;
}
.photo .imgBox .max79 {
  width: 79%;
}
.photo .imgBox .max78 {
  width: 78%;
}
.photo .imgBox .max76 {
  width: 76%;
}
.photo .imgBox .max74 {
  width: 74%;
}
.photo .imgBox .max72 {
  width: 72%;
}
.photo .imgBox .max68 {
  width: 68%;
}
.photo .imgBox .max63 {
  width: 63%;
}
.photo .imgBox .max62 {
  width: 62%;
}
.photo .imgBox .max61 {
  width: 61%;
}
.photo .imgBox .max58 {
  width: 58%;
}
.photo .imgBox .max57 {
  width: 57%;
}
.photo .imgBox .max55 {
  width: 55%;
}
.photo .imgBox .max52 {
  width: 52%;
}
.photo .imgBox .max43 {
  width: 43%;
}
.photo .imgBox .max39 {
  width: 39%;
}
.photo .imgBox .max34 {
  width: 34%;
}



.pick #akisakura {
  background-image: url(../img/a5.jpg);
}
.pick #todaiji {
  background-image: url(../img/a87.jpg);
}
.pick #akinogakko1 {
  background-image: url(../img/a4.jpg);
}
.pick #akinogakko2 {
  background-image: url(../img/a10.jpg);
}
.pick #shibata {
  background-image: url(../img/a18.jpg);
}
.pick #tokamachi1 {
  background-image: url(../img/S4_1.jpg);
}
.pick #tokamachi2 {
  background-image: url(../img/a24.jpg);
}
.pick #ie {
  background-image: url(../img/a34.jpg);
}
.pick #haresakura1 {
  background-image: url(../img/a50.jpg);
}
.pick #haresakura2 {
  background-image: url(../img/a54.jpg);
}
.pick #tanbo {
  background-image: url(../img/a56.jpg);
}
.pick #tsuyu1 {
  background-image: url(../img/a76.jpg);
}
.pick #tsuyu2 {
  background-image: url(../img/a77.jpg);
}
.pick #readyforsummer {
  background-image: url(../img/a62.jpg);
}
.pick #kokeshi {
  background-image: url(../img/a66.jpg);
}
.pick #higashiyama {
  background-image: url(../img/a2.jpg);
}